html, body {
	font-family: Helvetica, Arial, sans-serif;
	color: black;
	text-align: left;
	line-height: 1.3em;
}

h1 {
	text-align: center;
}

h2, h3 {
	text-align: center;
}

.bid {
	margin: 0.5em 2em;
	padding: 1em 0.3em;
	text-align: center;
	color: green;
	font-family: monospace;
	font-size: 5em;
	border: 0.5px green dotted
}

input {
	height: 2em;
	padding: 0 0.5em;
	width: 100%;
	border: 0px;
	align-content: center;
	text-align: center;
}

input[type=submit] {
	margin-top: 2em;
	width: 7em;
	border-bottom: solid 3px #f1f1f1;
	background-color: transparent;
}

input[type=submit]:hover {
	border-bottom: solid 3px #555;
	background-color: #f1f1f1;
}

input:focus {
	outline: none;
	border: 0px;
}

.msg {
	margin: 0.5em 2em;
	padding: 1em 0.3em;
	text-align: center;
	color: yelow;
	font-family: monospace;
	font-size: 1.5em;
	border: 0.5px yellow dotted
}

.bidder {
	margin: 0.5em 2em;
	padding: 1em 0.3em;
	text-align: center;
	color: green;
	font-family: monospace;
	font-size: 1.5em;
	border: 0.5px green dotted
}

.non-bidder {
	margin: 0.5em 2em;
	padding: 1em 0.3em;
	text-align: center;
	color: red;
	font-family: monospace;
	font-size: 1.5em;
	border: 0.5px red dotted
}

.unset {
	margin: 0.5em 2em;
	padding: 1em 0.3em;
	text-align: center;
	color: orange;
	font-family: monospace;
	font-size: 1.5em;
	border: 0.5px orange dotted
}

.prefoot {
	clear: both;
}

.main-content {
	float: none;
	text-align: justify;
	width: 100%;
	margin-bottom: -150px;
	position: relative;
}

form {
	text-align: center;
}

.menu {
	width: 20%;
	float: left;
	padding: 10px;
}

.page {
	width: 75%;
	float: right;
	padding: 10px;
}

table {
	width: 60%;
	margin: auto;
	border-collapse: collapse;
	table-layout: auto;
}

td, th {
	border-bottom: solid 3px #f1f1f1;
	border-collapse: collapse;
	border-spacing: 0;
	border
}

tr {
	height: 3em;
	vertical-align: bottom;
}

.fieldname {
	text-align: left;
	width: auto;
}

.fieldinput {
	text-align: left;
}

label {
	align-content: left;
}

td:hover {
	border-bottom: solid 3px #555;
}

.subtitle {
	text-align: center;
	font-size: 10;
}

footer {
	clear: both;
	margin-top: 15px;
	border-top: 3px solid #555;
	position: absolute;
	bottom: 0;
	width: 99%;
	height: 100px
}

.footer {
	width: 100%;
	color: #555;
}

ul {
	list-style-type: none;
	width: 200px;
	margin: 0;
	padding: 0;
}

li a {
	display: block;
	list-style: none;
	border-left: solid #f1f1f1 5px;
	padding: 10px;
}

li a:hover {
	display: block;
	background-color: #f1f1f1;
	border-left: solid 5px #555;
}

.footer-top {
	padding:10px;
}

.left-footer {
	padding-top: 10px;
	text-align: left;
	width: 50%;
	border: 0px;
}

.left-footer:hover {
	border-bottom: 0px;
}

.right-footer:hover {
	border-bottom: 0px;
}

.right-footer {
	padding-top: 10px;
	text-align: right;
	width: 50%;
	border: 0px;
}

a, a:visited, a:hover {
	color: inherit;
	text-decoration: none;
}

a.mono {
	font-family: monospace;
	font-size: 17;
}
